---
Checks: >-
    bugprone-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    concurrency-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
CheckOptions:
    - key: readability-uppercase-literal-suffix.NewSuffixes
      value: 'L;LL;LU;LLU'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
User: semkiv
...
